.productDisplay {
    margin: 0;
    padding: 0;
}

/*******************/


/* Main container for product display */
.productsDisplayer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 30px;
}

/* Card styling */
.productCard {
    background-color: #fff;
    border: 3px solid #2c3e50;
    /* Deep navy border */
    /* Blue border */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease, border 0.2s ease;
}


.productCard:hover {
    border: 4px solid #0056b3;
    /* Slightly darker blue on hover */
    /* Slightly darker blue on hover */
    transform: scale(1.1);
}

/* Image styling */
.product-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
 
    border-bottom: none;
 
    border-radius: 10px;
   
}


/* Card body styling */
.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-category {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.card-price {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

/* Button container styling */
.buttonsContainer {

    justify-content: space-between;

}

.btn {
    width: 120px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}














/**************************************/


.buttonsContainer .btn {
    width: 150px;
    height: 50px;
    padding: 2px;
    text-decoration: none;
}

.btn-link {
    color: #fff;

    text-decoration: none;
}

.label {
    font-weight: 700;
}

/* products.css */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.searchInput {
    border-radius: 15px !important;

}

.productsListTable {

    width: 82.5vw !important;

}

td,
th {
    width: fit-content !important;
}

.addProductButton {
    background-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 18px;
}

.productCard {
    background-color: #fff;
    width: 18rem !important;
    border-radius: 10px;
}

.productsShow {
    height: fit-content;
}

.productsDisplayer {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    width: 80vw !important;

    height: 100%;

}

.showProductDetails,
.buyProduct {
    width: 150px !important;
    text-decoration: none !important;
    padding: 10px;
}

.contentContainer {
    position: relative;
    left: 250px;
    width: 82vw;
}